
<p-card>

  <div class="indent-bottom">
    <p-fieldset 
      legend="General information"
    >

    <div class="p-field p-grid indent-bottom">
      <label class="p-col-fixed label">
        {{this.airlineData.defaultName}}
      </label>
    </div>

    <div class="p-field p-grid">
      <label class="p-col-fixed label">
        {{this.airlineData.code}}
      </label>
    </div>

    <img 
      class="logo-position"
      [src]="this.airlineData.logoSrc" 
    >
    </p-fieldset>   
  </div>

  <p-fieldset 
    legend="Contact information"
  >

    <div class="p-field p-grid indent-bottom ">
      <label class="p-col-fixedlabel">
        {{this.airlineData.contact.phone}}
      </label>
    </div>

    <p-button 
      label="Visit page" 
      icon="pi pi-external-link" 
      iconPos="left"
      class="p-button-sm"
      [disabled]="isButtonDisabled"
      (onClick)="visitPage()"
    ></p-button>
  </p-fieldset>

</p-card>
